name: Security audit

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '**/Cargo.lock'
      - '**/deny.toml'
      - '.github/workflows/audit.yml'
  schedule:
    - cron: '0 0 * * *'

jobs:
  security-audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          log-level: info
          arguments: --locked