name: Security audit

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_call:
    inputs:
      image-tag:
        description: 'The tag of the CI image to use'
        required: false
        type: string
        default: 'latest'

jobs:
  security-audit:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:${{ inputs.image-tag || 'latest' }}
      options: --user 0
    steps:
      - uses: actions/checkout@v6
      - name: Run security audit
        run: cargo deny check
