name: Rust Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:

env:
  CARGO_TERM_COLOR: always
  COVERAGE_THRESHOLD: 80
  RUST_LOG: debug
  RUST_BACKTRACE: full

# This stops any running jobs when a new commit is pushed
# Reference: https://stackoverflow.com/a/72408109
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@1.90.0

      - uses: actions/cache@v4
        with:
          path: |
            target/
          key: build-${{ hashFiles('Cargo.lock') }}
          restore-keys: |
            build-

      - name: Run tests
        run: cargo test --locked


  quality-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/cache@v4
        with:
          path: |
            target/
          key: quality-${{ hashFiles('Cargo.lock') }}
          restore-keys: |
            quality-

      - uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly-2025-09-01
          components: rustfmt
        
      - name: Check Rust formatting
        if: ${{ !cancelled() }}
        run: cargo +nightly-2025-09-01 fmt --check

      - uses: dtolnay/rust-toolchain@1.90.0
      - name: Check for clippy warnings
        if: ${{ !cancelled() }}
        run: cargo clippy --locked --workspace --all-targets --no-deps --all-features -- -D warnings

  code-coverage:
    runs-on: ubuntu-latest
    env:
      COVERAGE_DIR: /tmp/coverage
    permissions:
      # Needed to write a coverage report to the PR
      pull-requests: write
      # Needed to update the PR with a comment
      contents: read
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@1.90.0

      - uses: actions/cache@v4
        with:
          path: |
            target/**/*[\!.gcno\|\!.gcda|\!.profraw]
          key: coverage-${{ hashFiles('Cargo.lock') }}
          restore-keys: |
            coverage-

      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-llvm-cov

      - name: Generate code coverage
        run: |
          cargo llvm-cov --all-features --workspace --locked
          cargo llvm-cov report --html --output-dir ${{ env.COVERAGE_DIR }}/html

      - name: Upload coverage reports
        uses: actions/upload-artifact@v5
        with:
          name: coverage-report
          path: ${{ env.COVERAGE_DIR }}/html

      - name: Fail if coverage below threshold
        run: cargo llvm-cov report --fail-under-lines=${{ env.COVERAGE_THRESHOLD }}

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@1.90.0

      - uses: actions/cache@v4
        with:
          path: |
            target/
          key: docs-${{ hashFiles('Cargo.lock') }}
          restore-keys: |
            docs-

      - name: Generate docs
        if: ${{ !cancelled() }}
        run: cargo doc --locked --lib --no-deps --all-features --document-private-items
        env:
          RUSTDOCFLAGS: -D warnings

      - name: Upload Docs
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v5
        with:
          name: docs
          path: target/doc
