name: Retag Docker Image

on:
  workflow_call:
    inputs:
      image-name:
        description: "The name of the Docker image"
        required: true
        type: string
      source-tag:
        description: "The source image tag to retag"
        required: true
        type: string
      target-tag:
        description: "The target tag to apply (defaults to 'latest')"
        required: false
        type: string
        default: "latest"
      should-retag:
        description: "Whether to actually perform the retag (defaults to true)"
        required: false
        type: boolean
        default: true
    secrets:
      token:
        description: "GitHub token for authentication"
        required: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ inputs.image-name }}

jobs:
  retag:
    runs-on: ubuntu-latest
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.token }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Retag image
        if: ${{ inputs.should-retag }}
        run: |
          docker buildx imagetools create \
            --tag ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ inputs.target-tag }} \
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ inputs.source-tag }}
